In [11]:
import pandas as pd
import seaborn as sns

In [12]:
data_info = pd.read_csv('loan.csv',index_col='LoanStateNew')

/var/folders/p2/0q17jn4s2klcc73nrzg9lq_h0000gn/T/ipykernel_5096/3411965655.py:1: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  data_info = pd.read_csv('loan.csv',index_col='LoanStateNew')

ValueError: Index LoanStateNew invalid

In [ ]:
print(data_info.loc['revol_util']['Description'])

In [ ]:
def feat_info(col_name):
    print(data_info.loc[col_name]['Description'])

In [ ]:
feat_info('mort_acc')

In [ ]:
sns.countplot(x='loan_status',data=df)

In [ ]:
plt.figure(figsize=(12,4))
sns.distplot(df['loan_amnt'],kde=False,bins=40)

In [ ]:
df.corr()

In [ ]:
plt.figure(figsize=(12,7))
sns.heatmap(df.corr(),annot=True,cmap='viridis')

In [13]:
plt.ylim(10,0)

NameError: name 'plt' is not defined

In [14]:
feat_info('installment')

NameError: name 'data_info' is not defined

In [16]:
feat_info('loan_amnt')

NameError: name 'data_info' is not defined

In [17]:
sns.scatterplot(x='installment',y='loan_amnt',data=df)

NameError: name 'df' is not defined

In [18]:
sns.boxplot(x='loan_status',y='loan_amnt',data=df)

NameError: name 'df' is not defined

In [19]:
df.groupby('loan_status')['loan_amnt'].describe()

NameError: name 'df' is not defined

In [20]:
#unique possible grades and subgrades
df['sub_grade'].unique()

NameError: name 'df' is not defined

In [21]:
df['grade'].unique()

NameError: name 'df' is not defined

In [22]:

sns.countplot(x='grade',data=df,hue='loan_status')

NameError: name 'df' is not defined

In [27]:
#display countplot per subgrade. explore loans amde per subgrade as well as separated based on loan_status
plt.figure(figsize=(12,4))
subgrade_order = sorted(df['sub_grade'].unique())
sns.countplot(x='sub_grade',data=df, order=subgrade_order,palette='coolwarm',hue='loan_status')

NameError: name 'plt' is not defined

In [29]:
#looks like F anf G subgrades don't get paid back that often. Isolate those and recreate the countplot just for those subgrades
f_and_g = df[(df['grade']=='G') | (df['grade']=='F')]
plt.figure(figsize=(12,4))
subgrade_order = sorted(df['sub_grade'].unique())
sns.countplot(x='sub_grade',data=df, order=subgrade_order,palette='coolwarm',hue='loan_status')

NameError: name 'df' is not defined

In [31]:
#create new column called loan_repaid which will contian a 1 if the loan status was Fully Paid and a 0 if it was charged off
df['loan_repaid'] = df['loan_status'].map({'Fully Paid':1,'Charged off':0})

NameError: name 'df' is not defined

In [32]:
df[['loan_repaid','loan_status']]

NameError: name 'df' is not defined

In [33]:
#bar plot showing correlation

In [34]:
df.corr()

NameError: name 'df' is not defined

In [37]:
df.corr['loan_repaid'].sort_values().drop('loan_repaid').plot(kind='bar')

NameError: name 'df' is not defined

In [38]:
#remove or fill missing data

In [39]:
len(df)

NameError: name 'df' is not defined

In [40]:
#create series that displayes the total count of missing values per column

In [41]:
df.isnull().sum()

NameError: name 'df' is not defined

In [42]:
#convert this series to be in term of percentage of the total DF

In [43]:
100 * df.isnull().sum() / len(df)

NameError: name 'df' is not defined

In [44]:
feat_info('emp_title')

NameError: name 'data_info' is not defined

In [45]:
#unique employment job titles are there?

In [47]:
df['emp_title'].nunique()

NameError: name 'df' is not defined

In [48]:
df['emp_title'].value_counts()

NameError: name 'df' is not defined

In [49]:
#realistically there are so many unique job titles to try to convert this to a dummy variable feature. Let's remove this column

In [50]:
df = df.drop('emp_title',axis=1)

NameError: name 'df' is not defined

In [51]:
#countplot of the emp_length feature column.

In [53]:
sorted(df['emp_length'].dropna().unique())

NameError: name 'df' is not defined

In [56]:
plt.figure(figsize=(12,4))
sns.countplot(x='emp_length',data=df,order=emp_length_order,hue='loan_status')

NameError: name 'plt' is not defined

In [64]:
emp_co = df[df['loan_status']=='Charged Off'].groupby('emp_length').count()['loan_status']

NameError: name 'df' is not defined

In [65]:
emp_fp = df[df['loan_status']=='Fully Paid'].groupby('emp_length').count()['loan_status']

NameError: name 'df' is not defined

In [66]:
emp_lenght = emp_co/(emp_co+emp_fp)

NameError: name 'emp_co' is not defined

In [67]:
emp_lenght.plot(kind='bar')

NameError: name 'emp_lenght' is not defined

In [68]:
df.isnull().sum()

NameError: name 'df' is not defined