In [11]:
import pandas as pd
import seaborn as sns

In [12]:
data_info = pd.read_csv('loan.csv',index_col='LoanStateNew')

/var/folders/p2/0q17jn4s2klcc73nrzg9lq_h0000gn/T/ipykernel_5096/3411965655.py:1: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  data_info = pd.read_csv('loan.csv',index_col='LoanStateNew')

ValueError: Index LoanStateNew invalid

In [ ]:
print(data_info.loc['revol_util']['Description'])

In [ ]:
def feat_info(col_name):
    print(data_info.loc[col_name]['Description'])

In [ ]:
feat_info('mort_acc')

In [ ]:
sns.countplot(x='loan_status',data=df)

In [ ]:
plt.figure(figsize=(12,4))
sns.distplot(df['loan_amnt'],kde=False,bins=40)

In [ ]:
df.corr()

In [ ]:
plt.figure(figsize=(12,7))
sns.heatmap(df.corr(),annot=True,cmap='viridis')

In [13]:
plt.ylim(10,0)

NameError: name 'plt' is not defined

In [14]:
feat_info('installment')

NameError: name 'data_info' is not defined

In [16]:
feat_info('loan_amnt')

NameError: name 'data_info' is not defined

In [17]:
sns.scatterplot(x='installment',y='loan_amnt',data=df)

NameError: name 'df' is not defined

In [18]:
sns.boxplot(x='loan_status',y='loan_amnt',data=df)

NameError: name 'df' is not defined

In [19]:
df.groupby('loan_status')['loan_amnt'].describe()

NameError: name 'df' is not defined

In [20]:
#unique possible grades and subgrades
df['sub_grade'].unique()

NameError: name 'df' is not defined

In [21]:
df['grade'].unique()

NameError: name 'df' is not defined

In [22]:

sns.countplot(x='grade',data=df,hue='loan_status')

NameError: name 'df' is not defined

In [27]:
#display countplot per subgrade. explore loans amde per subgrade as well as separated based on loan_status
plt.figure(figsize=(12,4))
subgrade_order = sorted(df['sub_grade'].unique())
sns.countplot(x='sub_grade',data=df, order=subgrade_order,palette='coolwarm',hue='loan_status')

NameError: name 'plt' is not defined

In [29]:
#looks like F anf G subgrades don't get paid back that often. Isolate those and recreate the countplot just for those subgrades
f_and_g = df[(df['grade']=='G') | (df['grade']=='F')]
plt.figure(figsize=(12,4))
subgrade_order = sorted(df['sub_grade'].unique())
sns.countplot(x='sub_grade',data=df, order=subgrade_order,palette='coolwarm',hue='loan_status')

NameError: name 'df' is not defined

In [31]:
#create new column called loan_repaid which will contian a 1 if the loan status was Fully Paid and a 0 if it was charged off
df['loan_repaid'] = df['loan_status'].map({'Fully Paid':1,'Charged off':0})

NameError: name 'df' is not defined

In [32]:
df[['loan_repaid','loan_status']]

NameError: name 'df' is not defined

In [33]:
#bar plot showing correlation

In [34]:
df.corr()

NameError: name 'df' is not defined

In [37]:
df.corr['loan_repaid'].sort_values().drop('loan_repaid').plot(kind='bar')

NameError: name 'df' is not defined

In [38]:
#remove or fill missing data

In [39]:
len(df)

NameError: name 'df' is not defined

In [40]:
#create series that displayes the total count of missing values per column

In [41]:
df.isnull().sum()

NameError: name 'df' is not defined

In [42]:
#convert this series to be in term of percentage of the total DF

In [43]:
100 * df.isnull().sum() / len(df)

NameError: name 'df' is not defined

In [44]:
feat_info('emp_title')

NameError: name 'data_info' is not defined

In [45]:
#unique employment job titles are there?

In [47]:
df['emp_title'].nunique()

NameError: name 'df' is not defined

In [48]:
df['emp_title'].value_counts()

NameError: name 'df' is not defined

In [49]:
#realistically there are so many unique job titles to try to convert this to a dummy variable feature. Let's remove this column

In [50]:
df = df.drop('emp_title',axis=1)

NameError: name 'df' is not defined

In [51]:
#countplot of the emp_length feature column.

In [53]:
sorted(df['emp_length'].dropna().unique())

NameError: name 'df' is not defined

In [56]:
plt.figure(figsize=(12,4))
sns.countplot(x='emp_length',data=df,order=emp_length_order,hue='loan_status')

NameError: name 'plt' is not defined

In [64]:
emp_co = df[df['loan_status']=='Charged Off'].groupby('emp_length').count()['loan_status']

NameError: name 'df' is not defined

In [65]:
emp_fp = df[df['loan_status']=='Fully Paid'].groupby('emp_length').count()['loan_status']

NameError: name 'df' is not defined

In [66]:
emp_lenght = emp_co/(emp_co+emp_fp)

NameError: name 'emp_co' is not defined

In [67]:
emp_lenght.plot(kind='bar')

NameError: name 'emp_lenght' is not defined

In [68]:
df.isnull().sum()

NameError: name 'df' is not defined

In [69]:
#categorical data
#review the title column vs the purpose column. Is this repeated information?

In [70]:
df['purpose'].head(10)

NameError: name 'df' is not defined

In [71]:
df['title'].head(10)

NameError: name 'df' is not defined

In [72]:
feat_info('title')

NameError: name 'data_info' is not defined

In [73]:
feat_info('purpose')

NameError: name 'data_info' is not defined

In [74]:
#title column is simply a string subcategory/description of the purpose column. drop column title

In [75]:
df = df.drop('title',axis=1)

NameError: name 'df' is not defined

In [76]:
#find out what the mort_acc freature represents

In [77]:
feat_info('mort_acc')

NameError: name 'data_info' is not defined

In [78]:
#create a value_counts of the mort_Acc column

In [79]:
df['mort_acc'].value_counts()

NameError: name 'df' is not defined

In [80]:
#there are many ways we could deal with this missing data. we could attempt to build a simple model to fill it in, such as linear model, we could just 
#fill it in based on the mean of the other columns, or could even bin the columns into categories and then set NaN as its own category. there is no 100%
# correct approach. review the other columns to see which most highly correlates to mort_acc

In [81]:
df.corr()['mort_acc'].sort_values()

NameError: name 'df' is not defined

In [82]:
#looks like the total_acc feature correlates with the mort_acc, this makes sense! Let's try this fillna() approach. We will group the dataframe
#by the total_acc and calculate the mean value for the mort_acc per total_acc entry.

In [85]:
total_acc_avg = df.groupby('total_acc').mean()['mort_acc']

NameError: name 'df' is not defined

In [86]:
def fill_mort_acc(total_acc,mort_acc):
    if np.isnan(mort_acc):
        return total_acc_avg[total_acc]
    else:
        return mort_acc

In [87]:
df.apply(lambda x: fill_mort_acc(x['total_acc'],x['mort_acc']),axis=1)

NameError: name 'df' is not defined

In [88]:
df.isnull().sum()

NameError: name 'df' is not defined

In [89]:
df = df.dropna()

NameError: name 'df' is not defined

In [90]:
df.isnull().sum()

NameError: name 'df' is not defined

In [91]:
#list all the columns that are currently non-numeric

In [92]:
df.select_dtypes(['object']).columns

NameError: name 'df' is not defined

In [93]:
feat_info('term')

NameError: name 'data_info' is not defined

In [94]:
df['term'].value_counts()

NameError: name 'df' is not defined

In [95]:
df['term'] = df['term'].apply(lambda term: int(term[:3]))

NameError: name 'df' is not defined

In [96]:
df['term'].value_counts()

NameError: name 'df' is not defined

In [97]:
#grade is the part of the sub_grade, so just drop the grade feature

In [98]:
df = df.drop('grade',axis=1)

NameError: name 'df' is not defined

In [99]:
#convert the subgrade into dummy variables. Then concatenate these new columns to the original dataframe. Remember to drop the original subgrade column and 
#to add drop_first=True to your get_dummies call.

In [100]:
dummies = pd.get_dummies(df['sub_grade'],drop_first=True)

NameError: name 'df' is not defined

In [101]:
df = pd.concat([df.drop('sub_grade',axis=1),dummies],axis=1)

NameError: name 'df' is not defined

In [102]:
df.columns

NameError: name 'df' is not defined

In [103]:
#convert these columns into dummy variables and concatenate them with the original dataframe. Remember to set drop_first=True and to drop the 
#original columns

In [104]:
dummies = pd.get_dummies(df[['verification_status','application_type','initial_list_status','purpose']],drop_first=True)
df = pd.concat([df.drop(['verification_status','application_type','initial_list_status','purpose'],axis=1),dummies],axis=1)

NameError: name 'df' is not defined

In [105]:
#review the value_counts() for the home_ownership column

In [106]:
df['home_ownership'].value_counts()

NameError: name 'df' is not defined

In [107]:
#convert these to dummy variables but replace none and any with other, so that we end up with just 4 categories, mortgage, rent, own, other
#then concatenate them with the original dataframe. Remember to set drop_first=true and to drop the original columns

In [108]:
df['home_ownership'] = df['home_ownership'].replace(['NONE','ANY'],'OTHER')

NameError: name 'df' is not defined

In [109]:
df['home_ownership'].value_counts()

NameError: name 'df' is not defined

In [110]:
dummies = pd.get_dummies(df['home_ownership'],drop_first=True)
df = pd.concat([df.drop('home_ownership',axis=1),dummies],axis=1)

NameError: name 'df' is not defined

In [111]:
#address
# let's feature engineer a zipcode column from the address in the data set. Create a column called zip_code that
#extracts the zipcode from the address column

In [114]:
df['zip_code'] = df['address'].apply(lambda address: address[-5:])

NameError: name 'df' is not defined

In [115]:
df['zip_code'].value_counts()

NameError: name 'df' is not defined

In [116]:
#make zipcode column into dummy variables using pandas.Concatenate the result and drop the original zip_code column along with 
#dropping the address column
dummies = pd.get_dummies(df['zip_code'],drop_first=True)
df = pd.concat([df.drop('zip_code',axis=1),dummies],axis=1)

NameError: name 'df' is not defined

In [117]:
df = df.drop('adress',axis=1)

NameError: name 'df' is not defined

In [118]:
#this would be data leakage we wouldn't know beforehand whether or not a loan would be issued when using our model
# so in theory we wouldn't have an issue_date,drop this feature

In [119]:
feat_info('issue_d')

NameError: name 'data_info' is not defined

In [120]:
df = df.drop('issue_d',axis=1)

NameError: name 'df' is not defined

In [121]:
#this appears to be a historical time stamp feature. Extract the year from this feature using a apply function then convert
#it to a numeric feature, Set this new data to a feature column called 'earliest_cr_year'. Then Drop the earliest_cr_line feature

In [122]:
feature_info('earliest_cr_year')

NameError: name 'feature_info' is not defined

In [125]:
df['earliest_cr_year'] = df['earliest_cr_year'].apply(lambda date:int(date[-4:]))

NameError: name 'df' is not defined

In [126]:
df['earliest_cr_year']

NameError: name 'df' is not defined

In [127]:
from sklearn.model_selection import train_test_split

In [128]:
#drop the loan_status column we created earlier, since its a duplicate of the loan_repaid column. We'll use the loan_repaid column
# since its already in 0s and 1s

In [129]:
df = df.drop('loan_status',axis=1)

NameError: name 'df' is not defined

In [130]:
x = df.drop('loan_repaid',axis=1).values

NameError: name 'df' is not defined

In [131]:
y=df['loan_repaid'].values

NameError: name 'df' is not defined

In [133]:
df = df.sample(frac=0.1,random_state=101)
print(len(df))

NameError: name 'df' is not defined

In [134]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

NameError: name 'X' is not defined

In [135]:
#normalize the data

In [136]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [137]:
X_train = scaler.fit_transform(X_train)

NameError: name 'X_train' is not defined

In [138]:
X_test = scaler.transform(X_test)

NameError: name 'X_test' is not defined

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [1]:
model = Sequential()
model.add(Dense(78,activation = 'relu'))
model.add(Dropout(0.2))

model.add(Dense(39,activation = 'relu'))
model.add(Dropout(0.2))

model.add(Dense(19,activation = 'relu'))
model.add(Dropout(0.2))

model.add(Dense(1,activation = 'sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam')

NameError: name 'Sequential' is not defined

In [2]:
X_train.shape

NameError: name 'X_train' is not defined

In [3]:
model.fit(x=X_train,y=y_train,epochs=25,batch_size=256,validation_data=(X_test,y_test))

NameError: name 'model' is not defined

In [ ]:
from tensorflow.keras.models import load_model

In [1]:
model.save('myfavoritemodel.h5')

NameError: name 'model' is not defined

In [2]:
losses = pd.DataFram(model.history.history)

NameError: name 'pd' is not defined

In [4]:
losses.plot()

NameError: name 'losses' is not defined

In [5]:
from sklearn.metrics import classification_report, confusion_matrix

In [6]:
predictions = model.predict_classes(X_test)

NameError: name 'model' is not defined

In [7]:
print(classification_report(y_true,predictions))

NameError: name 'y_true' is not defined

In [8]:
df['loan_repaid'].value_counts()

NameError: name 'df' is not defined

In [9]:
confusion_matrix(y_test,predictions)

NameError: name 'y_test' is not defined

In [10]:
#given the customer below, would you offer this person a loan?

In [11]:
import random
random.seed(101)
random_ind = random.randint(0,len(df))

new_customer = df.drop('loan_repaid',axis=1).iloc[random_ind]
new_customer

NameError: name 'df' is not defined

In [13]:
new_customer = scaler.transform(new_customer.values.reshape(1,78))

NameError: name 'scaler' is not defined

In [14]:
model.predict_classes(new_customer)

NameError: name 'model' is not defined

In [15]:
#now check did this person actually end up paying back their loan

In [17]:
df.iloc[random_ind]['loan_repaid']

NameError: name 'df' is not defined