In [230]:
import pandas as pd
import numpy as np

In [232]:
sal = pd.read_csv('Salaries.csv', low_memory=False) #https://www.geeksforgeeks.org/pandas-read_csv-low_memory-and-dtype-options/ - read csv

In [233]:
sal.head() #get the head

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [234]:
sal.info() #get info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [238]:
pd.to_numeric(sal['BasePay'],errors='coerce').mean() # Attempting to use numeric_only=True will raise an error
# mixed_series.mean(numeric_only=True)  # This line will cause an error. Filter out non-numeric values
#mean of basepay

66325.4488404877

In [240]:
sal['OvertimePay'].max() #max of overtimepay

'Not Provided'

In [242]:
pd.to_numeric(sal['OvertimePay'], errors='coerce').max() #If the column's data type is not numeric, 
#convert it to numeric using pd.to_numeric() with errors='coerce'. This will also turn non-numeric values like 'Not Provided' into pd.NA

245131.88

In [244]:
sal['JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [246]:
sal[sal['EmployeeName'] == "JOSEPH DRISCOLL"]['JobTitle'] #employee job title

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [248]:
sal[sal['EmployeeName'] == "JOSEPH DRISCOLL"]['TotalPayBenefits'] #employee total pay benefits

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [250]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName'] #employee with max total benefits

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [252]:
sal.loc[sal['TotalPayBenefits'].idxmax()] #https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html
#idx - By default, it returns the index for the maximum value in each column.

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [254]:
sal['TotalPayBenefits'].idxmax()

0

In [256]:
sal.iloc[sal['TotalPayBenefits'].argmin()] #employee with minimum totalpat benefits

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [258]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce') #https://stackoverflow.com/questions/52092521/pandas-showing-ker-error-with-mean-function
EmpSal = sal.groupby('Year')['BasePay'].mean() #mean of basepay group by year

In [260]:
EmpSal

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [262]:
sal['JobTitle'].nunique() #number of unique job titles

2159

In [264]:
sal['JobTitle'].value_counts().head(5) #top 5 common jobs

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [266]:
#job titles represented by only one person in 2013 (ex: job title with only one occurence in 2013)
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [268]:
#how many people have the word chief in their job title
def find_chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [270]:
sum(sal['JobTitle'].apply(lambda x:'chief' in x.lower()))

627

In [272]:
sal[sal['JobTitle'].apply(lambda x:'chief' in x.lower())]["Id"].count()

627

In [274]:
#correlation between length of jobtitle and salary
sal['title_len'] = sal['JobTitle'].apply(len)

In [280]:
sal[['JobTitle','title_len']]

                                              JobTitle  title_len
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                      CAPTAIN III (POLICE DEPARTMENT)         31
2                      CAPTAIN III (POLICE DEPARTMENT)         31
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                ...        ...
148649                                       Custodian          9
148650                                    Not provided         12
148651                                    Not provided         12
148652                                    Not provided         12
148653                      Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [282]:
sal[['JobTitle','title_len']].corr(numeric_only=True)

           title_len
title_len        1.0

In [286]:
sal['JobTitle1'] = pd.to_numeric(sal['JobTitle'], errors='coerce')

In [290]:
sal[['JobTitle1','title_len']].corr()

           JobTitle1  title_len
JobTitle1        NaN        NaN
title_len        NaN        1.0

In [292]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000